.git
.gitignore

.env
.env.example

myenv/
venv/
.venv/

__pycache__/
*.pyc
*.pyo

.vscode/
.idea/

unused/
results/
MD_files/
dataset/
*.db
*.sqlite
*.sqlite3

db/*.db
db/*.sqlite
db/*.sqlite3
Dockerfile
docker-compose.yml

README.md

*.log