fastapi
uvicorn
pydantic-settings
langchain>=0.2.0
langchain-community>=0.2.0
langchain-core>=0.2.0
langchain-pinecone
langchain-text-splitters
langchain-ollama
langchain-google-genai
pinecone-client
scikit-learn
numpy
ragas
datasets
pypdf
docx2txt
python-multipart
streamlit
requests
sqlalchemy>=2.0
streamlit-autorefresh